* {
    margin: 0;
    padding: 0;
    border: 0;
    background: white;
    overflow-x:hidden;
    font-family: Figtree;
    font-weight: 100;
}

script {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: none;
}

.main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: calc(100vw - 10px);
    height: 5vh;
}

.main-menu a{
    text-decoration: none;
    color: black;
    cursor:none;
}
.main-menu a:hover{
    background: gray;
}


.heading-container{
    margin: 20px;
    width: 35vw;
    display:flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 100px;
}

.heading-container h1{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

#hz-curtain {
    z-index: 1;
    position: absolute;
    background: white;
    width: 100vw;
    height: 95vh;
    animation: slideAnim 1.75s cubic-bezier(0.39, 0.58, 0.18, 0.97) forwards;
}

@keyframes slideAnim {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(35%);
    }
}