body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  font-family: 'Figtree', sans-serif;
  font-weight: 300;
  scrollbar-width: none;
  
  /* 3. Hide scrollbar for IE and Legacy Edge */
  -ms-overflow-style: none;
}

*::webkit-scrollbar {
  display: none;
} 